@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f2545b ;
  --color-secondary: #103c3b;
  --color-base-200: #fff4f1;
  --color-accent: #1e95a6;
}