@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f2545b ;
  --color-secondary: #103c3b;
  --color-base-200: #fff4f1;
  --color-accent: #1e95a6;
}

* {
    font-family: "Nunito Sans", sans-serif;
}